@page
@using Microsoft.AspNetCore.Identity
@using Bloghost.Domain
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@model Bloghost.Pages.Home.IndexModel
@{
    ViewData["Title"] = "Home Page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1>@User.Identity.Name's blogs</h1>
        <p>
            @foreach (var blog in Model.UserBlogs)
            {
                <div>
                    <a class="btn-link" href="/Blog/@blog.Address">@blog.Title</a>
                </div>
            }
        </p>
        <p>
            <a class="btn btn-sm btn-primary" asp-page="/Blog/Create">Create new blog</a>
        </p>
    </div>
}
else
{
    <div class="text-center">
        <h1>Welcome</h1>
        <p>Log in to create your blog</p>
        <p>
            <a class="btn btn-sm btn-primary" asp-area="Identity" asp-page="/Account/Login">Log in</a>
        </p>
    </div>
}