@page "/Blog/{address}"
@using Microsoft.AspNetCore.Identity
@using Bloghost.Domain
@inject UserManager<User> UserManager
@model Bloghost.Pages.Blog.IndexModel
@{
    ViewData["Title"] = Model.CurBlog.Title;
}

<div class="text-center">
    <h1>@Model.CurBlog.Title</h1>
    @if (UserManager.GetUserId(User) == Model.CurBlog.AuthorId)
    {
        <div>
            <a class="btn btn-sm btn-primary" asp-page="/Blog/AddPost" asp-route-blogAddress="@Model.CurBlog.Address">Add new post</a>
        </div>
    }
</div>

@if (Model.Posts.Count > 0)
{
    <br />
    <br />
    <div class="posts" id="postsArea">
        @{await Html.RenderPartialAsync("~/Pages/_ViewPostCollection.cshtml", Model.Posts);}
    </div>
}

<script>
    $(function () {
        var pageNumber = 0;
        var _inCallback = false;
        function loadItems() {
            if (pageNumber > -1 && _inCallback == false) {
                _inCallback = true;
                pageNumber++;
                $.ajax({
                    type: 'GET',
                    url: '/',
                    data: {
                        pageNumber: pageNumber
                    },
                    success: function (data, textstatus) {
                        if (data != '') {
                            $(".posts").append(data);
                        }
                        else {
                            pageNumber = -1;
                        }
                        _inCallback = false;
                    }
                });
            }
        }
        $(window).scroll(function () {
            if ($(window).scrollTop() + $(window).height() > $(document).height() - 50) {
                loadItems();
            }
        });
    })
</script> 