@page "/Blog/{address}"
@using Microsoft.AspNetCore.Identity
@using Bloghost.Domain
@inject UserManager<User> UserManager
@model Bloghost.Pages.Blog.IndexModel
@{
    ViewData["Title"] = Model.CurBlog.Title;
}


<div class="row">
    <div>
        <h1>@Model.CurBlog.Title</h1>
    </div>
    @if (UserManager.GetUserId(User) == Model.CurBlog.AuthorId)
    {
        <div style="margin:13px 10px">
            <a class="btn btn-sm btn-primary" asp-page="/Blog/AddPost" asp-route-blogAddress="@Model.CurBlog.Address">Add new post</a>
        </div>
        <div style="margin:13px 10px">
            <form method="post">
                <div class="form-group">
                    <button type="submit" class="btn btn-sm btn-primary">Delete blog</button>
                </div>
            </form>
        </div>
    }
</div>

@if (Model.Posts.Count > 0)
{
    <br />
    <div class="posts" id="postsArea">
        @{await Html.RenderPartialAsync("~/Pages/_ViewPostCollection.cshtml", Model.Posts);}
    </div>
    <br />
}