@page
@using Microsoft.AspNetCore.WebUtilities
@model Bloghost.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-center">Error @Request.Query["code"]: @ReasonPhrases.GetReasonPhrase(Int32.Parse(Request.Query["code"]))</h1>

@*@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}*@
